.position-discount-percentage {
    position: absolute;
    z-index: 10;
    right: 0px;
    border: 1px solid;
}
.position-btn-deletar {
    top: 0;
    right: 0;
}
.v-toolbar__content{
    height: 100px !important;
    @media only screen and (max-width: 942px) {
        height: 200px !important;

    }
}

.v-btn--disabled{
    display: none;
}
.v-container{
    max-width: 900px;
}

.pointer{
    cursor: pointer;
}